h1 {
    text-align: center;
    font-size: 25px;
    color: blueviolet(98, 190, 17);
}
body {
background-color: black;
}
 .gato {
    width: 50%;
    height: 50%;
}
.ini{
 background-image: url("filhote-gato-01-1280x720.jpg");
}