h1 {
    text-align: center;
    font-size: 40px;
    color: blueviolet;
}
body {
background-color: black;
}
 .gato {
    width: 50%;
    height: 50%;
}
P{
 text-align: center;
 font-size: 30px ;   
 color: blueviolet;
}
.ini{
 background-image: url("filhote-gato-01-1280x720.jpg");
}